<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>{{title}}</h1>
        {{>error-banner}}
        <form action="/story/add" method="POST">
            <div class="form-group">
                <label for="email">Title</label>
                <input type="text" name="title" id="title" class="form-control">                
            </div>            

            <div class="form-group">
                <label for="email">Category</label>
                <select name="category" id="category">
                    <option value="">Choose Category</option>
                    {{#each categories}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>                
            </div>       

            <div class="form-group">
                <label for="email">Body</label>
                <textarea id="body" name="body" class="form-control" rows="10" cols="10"></textarea>                
            </div>            

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <button type="submit" class="btn btn-primary">Add Story</button>

        </form>
    </div>
</div>