<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">BlogApp</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">      
      <li class="nav-item">
        <a class="nav-link" href="/"></a>
      </li>      

      {{#if login}}
            <li class="nav-item">
                <a class="nav-link" href="/story">Story</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/category">Category</a>
            </li>

      {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/login">Sign In</a>
       </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
        </li>

      {{/if}}
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{#if login}}
        Hello {{session.slug}}
      {{/if}}
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>