<br>
{{>success-banner}}
<br>
<div class="row">
    {{#each stories}}
        <div class="col-md-6">
            <div class="jumbotron">
                <h2 class="display-3">{{this.title}}</h2>
                <p class="lead">
                    {{excerpt this.body}}
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/story/{{this._id}}" role="button">Learn more</a>
                </p>
            </div>
        </div>
    {{/each}}
</div>